body {
  margin: 0;
  background: rgb(255, 216, 139);
}

/* CLASSES */

.buffer {
  padding-bottom: 30%;
}

.text-container {
  position: relative;
}

.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 100vw);
  grid-auto-rows: minmax(100vh, auto);
}

/* SPECIFIC ELEMENTS */

.open {
  position: relative;
  background: rgb(230,40,0);
  background: radial-gradient(circle at 25% 0%, rgb(230, 73, 0) 10%, transparent 50%);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.open .text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 600;
}

.panels {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 5vw;
}

.image {
  position: relative;
}
.image img {
  max-height: 90vh;
  max-width: 50vw;
}

.down {
  grid-column: 3;
  grid-row: 2 / 5;
}
.down .arm-image img {
  max-width: 50vw;
}

.down .text {
  color:rgb(68, 95, 175);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.first, .second, .third {
  width: 35vw;
  margin: auto;
  padding: 5vh 0;
}
.third {
  padding: 45vh;
}

.orange {
  margin: 5% 0;
  background: radial-gradient(circle at 25% 0%, rgb(255, 81, 0) 10%, rgba(255, 154, 2, 0.623) 50%),
    radial-gradient(circle at bottom right, rgb(255, 17, 0) 10%, rgba(255, 93, 43, 0.541) 50%);
  max-width: 50vw;
  height: 50vh;
}

.marvin img {
  margin-left: 40%;
  margin-top: 5vh;;
  width: 25vw;
}

.bunker img{
  margin-left: 60%;
  margin-top: 5vh;
  width: 100vw;
}
